* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Header*/

.header {
    display: flex;
    flex-direction: row;
    height: 7%;
    background-color: #282727;
}

.header_profile {
    min-height: 50px;
    width:69px;
}

.header_profile .fa-user {
    padding-left: 24px;
    padding-top: 13px;
}

.header_profile .fa-regular {
    font-size: 25px;
    color: #ffffff;
    transition: 0.8s;
}

.header_profile .fa-user:hover {
    color: #24fa95;
}

.fa-loc {
    margin-left: 3px;
    padding-right: 15px;
}

.header-logo {
    height: 45px;
    width: 110px;
    padding-top: 4px;
    margin: 0 37%;
}

.header-username {
    margin-top: 13.5px;
    min-width: 80px;
}

.header-profile {
    font-size: 20px;
    font-family: Arial sans-serif;
    color: white;
}

/*Main*/
.main {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.chat_bar {
    display: flex;
    background-color: #282727;
    flex: 1;
}

.chat_rooms {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #fff;
    flex: 6;
}

.room {
    background-color: pink;
    height: 60px;
}

.room:last-child {
    height: 97px;
    background-color: green;
}

.chats {
    display: block;
    overflow: scroll;
    min-height: 100%;
}

.chats::-webkit-scrollbar {
    width: 3px;
}

.chats::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #1aef0b, #a8e5ac);
}

.chat_message {
    flex: 3;
    background-color: white;
}

/*Avatar*/
.ava_image {
    position: relative;
}

.file-action {
    position: absolute;
    right: 28%;
    bottom: -11px;
}

.form-file_block {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 70px;
    border: 2px dashed #282727;
}

.menu-form_file {
    display: block;
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 70px;
    border: 2px dashed #282727;
    left: -2px;
    top: -2px;
    opacity: 0;
}

.fa-position {
    margin-left: 39px;
    font-size: 50px;
    margin-top: 37px;
    color: #282727;
}

.menu-form_file:hover {
    cursor: pointer;
}

.form_btn-apply {
    display: none;
    width: 27px;
    height: 27px;
    border-radius: 70px;
    color: #2be382;
    background-color: #08a94a;
    border: none;
}

.apply_btn {
    display: none;
    font-size: 25px;
    color: white;
    margin-bottom: 3px;
}

.form_btn-reset {
    display: none;
    width: 27px;
    height: 27px;
    border-radius: 70px;
    border: none;
    background-color: red;
    padding-bottom: 2px;
}

.form_btn-reset:hover {
    cursor: pointer;
}

.cross_pos {
    font-size: 15px;
    color: white;
    padding-left: 3%;
    padding-top: 13%;
}

.check_pos {
    color: white;
    padding-left: 1px;
    padding-top: 3px;
}

.del_btn {
    display: none;
}

.del_btn:hover {
    cursor: pointer;
}

/*Folders*/
.folders {
    flex: 12;
    height: 100%;
}

.folders_list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.folder {
    min-height: 60px;
}

.folder_pl {
    font-size: 17px;
    padding-top: 12px;
    padding-left: 24px;
    color: #bebebe;
}

.folder_name {
    display: block;
    font-size: 10px;
    word-wrap: normal;
    padding-top:3px;
    margin-left: 2px;
    width: 60px;
    text-align: center;
    padding-right: 1px;
    color: #bebebe;
}

.folder:hover {
    background-color: #777777;
    cursor: pointer;
}

/*MENU*/

.fa-user {
    color: #21ff99;
    font-size: 25px;
}

.fa-users {
    color: #ee89ff;
    font-size: 18px;
}

.fa-plus-square {
    color: #7b7aff;
    font-size: 24px;
}

.fa-cog {
    color: #74ff16;
    font-size: 24px;
}

.menu_bar {
    flex:1;
    height: 100%;
}
.title h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: #fcfffc;
}
.list_menu span{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #fcfffc;
    transition: 0.2s ease;
    padding-left: 8px;
}

.list_menu span:hover{
    transition: 0.2s ease;
    color: #21ff99;
    cursor: pointer;
}

.list_menu li{
    margin: 20px 0;
}
.list_menu{
    margin-bottom: 50px;
    margin-top: 70px;
}
.menu {
    padding: 7vh 139px;
    background: rgba(20, 20, 20, 0.5);
    height: 100vh;
    border-right: 6px solid #fcfffc;
    position: fixed;
    left: -408px;
    transition: 0.4s ease;
}
.menu:hover{
    left: 0;
    transition: 0.5s ease;
}

/*Window*/
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.window {
    opacity: 0;
    visibility: hidden;
    min-height: 18rem;
    width: 20rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    transition: 0.3s all;
    z-index: 30;
    border-radius: 20px;
    background: rgba(20, 20, 20, 0.6);
    padding: 10px 15px;
}

.window.show,
.window-2.show,
.overlay.show {
    opacity: 1;
    visibility: visible;
}

.window-cross {
    position: absolute;
    margin-left: 9rem;
    font-size: 23px;
    top:24px;
    right: 20px;
    color: #ffffff;
}

.window-cross:hover {
    color: rgba(203, 201, 201, 0.9);
    cursor: pointer;
    transition: all 0.4s ease;
}

.show {
    display: block;
}

.content {
    margin: 0 auto;
    height: 20rem;
    width: 18rem;
    padding-top: 30px;
}

.title {
    padding-top: 10px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}
.window ul {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    height: 150px;
}

.window ul li {
    padding-bottom: 20px;
}

/*Contacts*/

.search_input {
    width: 15rem;
    border-radius: 5px;
    border: none;
    height: 25px;
    margin: 0 20px 0 30px;
    padding-left: 10px;
}

.search_input:focus {
    outline: 2px solid #24fa95;
}

.fa-search {
    position: absolute;
    left: 1.3rem;
    top: 5.2rem;
    color: #24fa95;
}

.search-form-btn {
    width: 100px;
    padding: 5px 15px;
    background-color: #2be382;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 20px auto 0;
    box-shadow: 5px -1.5px 40px 3px #23c26d;
    color: #fff;
    transition: 1s all ease;
    font-weight: bold;
    font-family: Arial sans-serif;
    font-size: 14px;
    text-align: center;
}

.search-form-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/*New folder*/

.folder-link {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
}

.folder-link:hover {
    cursor: pointer;
}

.window-2 {
    opacity: 0;
    visibility: hidden;
    min-height: 18rem;
    width: 20rem;
    position: fixed;
    top: 50%;
    left: 66.7%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    transition: 0.3s all;
    z-index: 30;
    border-radius: 20px;
    background: rgba(20, 20, 20, 0.6);
    padding: 10px 15px;
}

.window_content {
    margin-top: 30px;
    position: relative;
}

.chat-item {
    position: relative;
    font-size: 20px;
    color: white;
    padding: 10px;
    background: rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    margin-bottom: 6px;
}

.right-icon {
    position: absolute;
    right: 20px;
    padding-top: 5px;
    font-size: 15px;
}

.right-icon:hover {
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    right: 10px;
    padding-top: 3px;
}

.delete-icon {
    cursor: pointer;
}