<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Element</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" th:href="@{/css/chatPage.css}"
          href="../static/css/chatPage.css">
    <link rel="icon" th:href="@{/images/element_icon.png}"
          href="../static/images/element_icon.png">
</head>
<body>
    <div class="header">
            <div class="header_profile">
                <i class="fa-regular fa-user"></i>
            </div>
    </div>

    <div class="main">
        <div class="chat">
            <div class="chat_bar">

            </div>

            <div class="chat_rooms">
                <div class="chats">
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                    <div class="room">

                    </div>
                </div>
            </div>
        </div>

        <div class="chat_message">

        </div>
    </div>
</body>
    <script src="https://kit.fontawesome.com/0d84691a96.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/chatPage.js}"
            src="../static/js/chatPage.js"></script>
</html>