<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Element</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" th:href="@{/css/signInPage.css}"
          href="../static/css/signInPage.css">
    <link rel="icon" th:href="@{/images/element_icon.png}"
          href="../static/images/element_icon.png">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="signInPage.html"
                   th:href="@{/element/signIn}"><img th:src="@{/images/element_logo.png}"
                                                     src="../static/images/element_logo.png" alt="logo" class="element_logo"></a>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="main_img">
                <img th:src="@{/images/element_img.png}"
                     src="../static/images/element_img.png" alt="logo" class="element_img">
                <div class="registration_block">
                    <form action="#" method="POST" class="registration_form"
                          th:action="@{/element/signIn}">
                        <span class="form_name">Registration</span>
                        <input type="text" name="phone" placeholder="Phone number" class="input_field form_number">
                        <input type="text" name="password" placeholder="Password" class="input_field form_password">
                        <div class="form_content">
                            <scan class="form_title">Account not exists? </scan>
                            <a href="signUpPage.html" class="form_link"
                               th:href="@{/element/signUp}">Sign up</a>
                        </div>
                        <button type="submit" class="btn form_sign_in">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>